# Telegram API Keys
TG_API_ID=telegram_api_id
TG_API_HASH=telegram_api_hash
TG_CHANNELS=telegram_channel1,telegram_channel2,telegram_channel3

# Gemini API Key
GEMINI_API_KEY=gemini_api_key

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/database_name

# Database Config
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name

DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=database_name

# Deployment Server SSH/SCP Configuration
DEPLOY_HOST=your_ssh_host
DEPLOY_USER=your_ssh_user
DEPLOY_PASSWORD=your_ssh_password
DEPLOY_PORT=22
DEPLOY_PATH=/home/your_ssh_user/osint_ai_worker
