# Telegram API Keys
TG_API_ID=telegram_api_id
TG_API_HASH=telegram_api_hash
TG_CHANNELS=telegram_channel1,telegram_channel2,telegram_channel3

# Gemini API Key
GEMINI_API_KEY=gemini_api_key

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/database_name
